.namefield:hover {
  background-color: #b5e5e4 !important;
}
.absolute {
  position: absolute;
  top: 20px;
  right: 10px;
}
.relative {
  position: relative;
}
::-webkit-scrollbar {
  width: 8px;

  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}
